:root {
  --primary: #2563eb;
  --primary-hover: #1d4ed8;

  --bg: #f1f5f9;
  --card: #ffffff;
  --border: #e2e8f0;

  --text: #0f172a;
}

/* background */
.bg-app { background: var(--bg); }

/* card */
.card {
  background: var(--card);
  border: 1px solid var(--border);
  padding: 24px;
  border-radius: 10px;
}

/* input */
.input {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid var(--border);
  border-radius: 6px;
}

/* button */
.btn-primary {
  background: var(--primary);
  color: white;
  padding: 10px;
  border-radius: 6px;
  width: 100%;
}

.btn-primary:hover {
  background: var(--primary-hover);
}